<div class="page-header">
    <h3>Contact page - Template Validation</h3>
</div>

<div class="row">
    <div class="col-md-12">
        <form id="frm_contact" name="frm_contact" novalidate="novalidate">
            <div class="form-group"
                 ng-class="{'has-error': !this.frm_contact.name.$valid && !this.frm_contact.name.$pristine}">
                <label for="name">Name</label>
                <input type="text" 
                       class="form-control" 
                       id="name" 
                       name="name"
                       ng-model="vm.form.data.name"
                       required />

                <div ng-messages="frm_contact.name.$error"
                     ng-show="!frm_contact.name.$valid  && !frm_contact.name.$pristine"
                     class="help-block">
                    <div ng-message="required">
                        * Required field
                    </div>
                </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-error': !this.frm_contact.lastname.$valid && !this.frm_contact.lastname.$pristine}">
                <label for="name">Lastname</label>
                <input type="text" 
                        class="form-control" 
                        id="lastname" 
                        name="lastname"
                        ng-model="vm.form.data.lastname"
                        required />

                <div ng-messages="frm_contact.lastname.$error"
                     ng-show="!frm_contact.lastname.$valid  && !frm_contact.lastname.$pristine"
                     class="help-block">
                    <div ng-message="required">
                        * Required field
                    </div>
                </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-error': !this.frm_contact.email.$valid && !this.frm_contact.email.$pristine}">
                <label for="name">Email</label>
                <input type="email" 
                        class="form-control" 
                        id="email" 
                        name="email"
                        ng-model="vm.form.data.email"
                        required
                        ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" />

                <div ng-messages="frm_contact.email.$error"
                     ng-show="!frm_contact.email.$valid  && !frm_contact.email.$pristine"
                     class="help-block">
                    <div ng-message="required">
                        * Required field
                    </div>
                    <div ng-message="email">
                        * You must enter a valid email
                    </div>
                    <div ng-message="pattern">
                        * You must enter a valid email
                    </div>
                </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-error': !this.frm_contact.subject.$valid && !this.frm_contact.subject.$pristine}">
                <label for="name">Subject</label>
                <input type="text" 
                        class="form-control" 
                        id="subject" 
                        name="subject"
                        ng-model="vm.form.data.subject"
                        required />

                <div ng-messages="frm_contact.subject.$error"
                     ng-show="!frm_contact.subject.$valid  && !frm_contact.subject.$pristine"
                     class="help-block">
                    <div ng-message="required">
                        * Required field
                    </div>
                </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-error': !this.frm_contact.message.$valid && !this.frm_contact.message.$pristine}">
                <label for="name">Message</label>
                <textarea type="text" 
                          class="form-control" 
                          id="message" 
                          name="message"
                          ng-model="vm.form.data.message"
                          required></textarea>

                <div ng-messages="frm_contact.message.$error"
                     ng-show="!frm_contact.message.$valid  && !frm_contact.message.$pristine"
                     class="help-block">
                    <div ng-message="required">
                        * Required field
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="button" 
                        class="btn btn-primary">
                    Save
                </button>
            </div>
        </form>

        <pre>{{ vm.form.data | json }}</pre>
        <pre>{{ this.frm_contact.email.$error | json }}</pre>
    </div>
</div>